@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('./layout/backgrounds.css');
@import url('./layout/titles.css');


@import url('./blocks/header-footer.css');
@import url('./blocks/prewiew.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/tours.css');
@import url('./blocks/news.css');
@import url('./blocks/about.css');
@import url('./blocks/paginator.css');
@import url('./blocks/about.css');
@import url('./blocks/socials.css');
@import url('./blocks/offers.css');
@import url('./blocks/partners.css');
@import url('./blocks/welcome.css');