* {
  max-width: 100%;
  background: center center no-repeat;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.69;
  color: #fff;
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

*:hover {
  transition: .3s;
}

*:hover * {
  transition: .3s;
}

*:before {
  transition: .3s;
}

*:after {
  transition: .3s;
}

*:hover:before {
  transition: .3s;
}

*:hover:after {
  transition: .3s;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  min-height: 100%;
}

.wrapper__flex-one {
  flex: 1;
}

.container {
  margin: 0 auto;
  padding: 0px 30px;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
}

button {
  border-radius: 35px;
  background: #F5170E;
  border: 0px solid #F5170E;
  padding: 18px 40px;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.button-red {
  background: #F5170E;
  color: #FFFFFF;
  border: 1px solid #F5170E;
}

.button-white {
  background: #FFFFFF;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.button-red:hover,
.button-white:hover {
  background: #DA0100;
  color: #FFFFFF;
  border: 1px solid #DA0100;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.active-link {
  color: #F5170E;
}

ul,
li {
  display: inline-flex;
}

ul li {
  list-style: none;
}

li:last-child {
  margin-right: 0px;
}

time {
  display: block;
}

time * {
  display: inline;
}