.about .container:before {
  content: "";
  display: inline-block;
  margin-bottom: auto;
  margin-right: auto;
  width: 490px;
  height: 505px;
  background: url(../../images/decor/gates.jpg) center center / cover no-repeat;
  border-radius: 5px;
  /* background-size: 100%; */
  /* background-size: cover; */
  /* background-position-y: 97%;
    background-position-x: 51%; */
}

.about .container {
  margin-bottom: 54px;
}

.about__content {
  width: 69%;
  background: url(../../images/decor/mountains.jpg) top left / cover no-repeat;
  padding: 70px 80px;
  margin-left: auto;
  /* margin-top: -36%; */
  margin-top: -410px;
  border-radius: 5px;
}

.about__text {
  width: 80%;
  margin-bottom: 46px;
}

.about__content h2,
.about__text p {
  color: #060606;
}