header .container {
  padding-top: 18px;
}

.main-page .logo {
  width: 85px;
  height: 36px;
  margin-top: 14px;

}

.second-page .logo {
  width: 98px;
  height: 42px;
  margin-top: 14px;
}

.menu {
  margin-right: auto;
  margin-top: 14px;
}

.main-page .menu__list {
  padding-left: 80px;
}

.second-page .menu__list {
  padding-left: 66px;
}

.menu__item {
  margin-right: 54px;
}

.menu__link {
  font-size: 14px;
}

.contacts {
  display: flex;
  flex-flow: column wrap;
  margin-top: 7px;
}

.contacts__phone {
  font-size: 26px;
  line-height: 35px;
}

.contacts__phone:hover {
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin-top: -5px;
}

.dropdown__link {
  font-size: 13px;
  line-height: 1.54;
  text-decoration-line: underline;
}

.dropdown__link:hover+.dropdown__content, .dropdown__content:hover {
  left: 32px;
  opacity: 0.8;
}

.dropdown__content {
  position: absolute;
  background: #EDEDED;
  opacity: 0;
  padding: 8px 18px;
  width: 84%;
  top: 100%;
  left: -9999px;
  margin-top: 5px;
  border-radius: 9px;
  transition: opacity .3s;
}

.dropdown__content::before {
  position: absolute;
  top: -9px;
  left: 93px;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 12px solid transparent;
  border-bottom-color: #EDEDED;
}

.dropdown__content::after {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  top: -9px;
  left: 2px;
}

.dropdown__content p strong {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.62;
  color: #1E1F20;
}

.dropdown__content p span {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.62;
  color: #1E1F20;
}

footer .container {
  max-width: 1140px;
  padding: 25px 0px 50px;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.contacts__text {
  margin-left: auto;
}

.contacts__text p {
  font-size: 11px;
  line-height: 1.82;
  color: #9A9A9A;
  display: inline;
}