.news {
  margin-bottom: 145px;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}

.news__item {
  flex: 1;
  min-height: 394px;
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
  border-radius: 5px;
  padding: 250px 30px 18px;
}

.news h3 {
  margin-bottom: 5px;
}

.news__text p {
  line-height: 1.36;
}

.news__date {
  margin-bottom: 8px;
}

.news__background_plain {
  background-image: url(../../images/content/news/plain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.news__background_surfer {
  background-image: url(../../images/content/news/surfer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}