.offers {
  /* background:#F2F2F2; */
  background: #fff;
  color: #303030;
  padding: 40px 0;
}

.offer {
  display: flex;
  text-decoration: none;
}

.offers__item {
  margin-bottom: -10px;
}

.offers__item:last-child {
  margin-bottom: 59px;
}

.offer__img {
  width: 460px;
  height: 333px;
  margin-top: 59px;
  /* width: 40%;
  margin-right: 7%; */
  overflow: hidden;
  border-radius: 5px;
}

.offer__content {
  flex: 1;
  margin-left: 56px;
  margin-top: 71px;
}

.offers__list {
  display: flex;
  flex-flow: column wrap;
}

.offer__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 30px;
}

.offer__text {
  margin-bottom: 34px;
}

.offer__text p {
  color: #303030;
  font-size: 16px;
  line-height: 1.69;
}