.offers {
  color: #303030;
  padding-top: 48px;
  padding-bottom: 84px;
}

.offers__list {
  display: flex;
  flex-flow: column wrap;
}

.offers__item {
  margin-top: 50px;
}

.offers__item:last-child {
  margin-bottom: 59px;
}

.offer {
  display: flex;
}

.offer__img {
  /* width: 460px; */
  width: 40.4%;
  height: 333px;
  border-radius: 5px;
}

.offer__img.waterfall {
  background: url(../../images/content/service/waterfall.jpg) center center / cover no-repeat;
}

.offer__img.monkeys {
  background: url(../../images/content/service/monkeys.jpg) center center / cover no-repeat;
}

.offer__content {
  flex: 1;
  margin-top: 12px;
  margin-left: 58px;
}

.offer__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #111111;
  margin-bottom: 30px;
}

.offer__text {
  margin-bottom: 34px;
}

.offer__text p {
  color: #303030;
  font-size: 16px;
  line-height: 1.69;
}