.partners {
  padding: 88px 88px 0px;
  display: flex;
  flex-direction: column;
  min-height: 537px;
}

.partners h2 {
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

.partners__item {
  margin: 0px 30px 74px 0px;
}

.partners__item:nth-child(4n) {
  margin: 0px 0px 74px 0px;
}

.partners__link {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}