.partners {
  background: #F4F5F5;
  padding: 132px 88px 0px;
  display: flex;
  flex-direction: column;
}

.partners__item {
  flex-flow: row wrap;
  margin: 0px 90px 90px 0px;
  height: 40px;
}

.partners__item:nth-child(4) {
  margin: 0px 0px 90px 0px;
}

.partners__item:last-child {
  margin: 0px 0px 90px 0px;
}

.partners__link {
  display: flex;
  align-items: center;
  height: 100%;
  filter: grayscale(100%);
}

.partners__link:hover {
  filter: grayscale(0);
}

.partners__title h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
}

.partners__title {
  margin-bottom: 80px;
}

.lets-fly {
  margin-right: 105px;
}

.ural {
  margin-right: 54px;
}

.pegasus {
  margin-right: 68px;
}
