.prewiew .container {
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

.main-page .prewiew .container {
  min-height: 700px;
}

.prewiew__description p {
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 35px;
}

.second-page .prewiew .container {
  min-height: 338px;
}