.socials {
  margin-right: 74px;
  margin-left: auto;
  margin-top: 20px;
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
}

.socials__link {
  display: block;
  height: 36px;
  width: 36px;
}

.socials__item_icon_tg .socials__link {
  background: url(/images/icons/socials/t.png);
}

.socials__item_icon_tg .socials__link:hover {
  background: url(/images/icons/socials/t2.png);
}

.socials__item_icon_vk .socials__link {
  background: url(/images/icons/socials/vk.png);
}

.socials__item_icon_vk .socials__link:hover {
  background: url(/images/icons/socials/vk2.png);
}

.socials__item_icon_fb .socials__link {
  background: url(/images/icons/socials/f.png);
}

.socials__item_icon_fb .socials__link:hover {
  background: url(/images/icons/socials/f2.png);
}

.socials__item_icon_inst .socials__link {
  background: url(/images/icons/socials/in.png);
}

.socials__item_icon_inst .socials__link:hover {
  background: url(/images/icons/socials/in2.png);
}