.socials {
  margin-right: 74px;
  margin-left: auto;
  margin-top: 20px;
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: 50%; 
  cursor: pointer;
}

.socials__item::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/icons/socials/sprites.png);
  opacity: 1;
  transition: .3s;
}

.socials__item::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/images/icons/socials/sprites.png);
  opacity: 0;
  transition: .3s;
}

.socials__item:hover::before {
  opacity: 0;
}

.socials__item:hover::after {
  opacity: 1;
}

.socials__icon_tg::before {
  background-position: -122px -10px;
}

.socials__icon_tg::after {
  background-position: -122px -66px;
}

.socials__icon_vk::before {
  background-position: -10px -122px;
}

.socials__icon_vk::after {
  background-position: -66px -122px;
}

.socials__icon_fb::before {
  background-position: -10px -10px;
}

.socials__icon_fb::after {
  background-position: -66px -10px;
}

.socials__icon_inst::before {
  background-position: -10px -66px;
}

.socials__icon_inst::after {
  background-position: -66px -66px;
}