.tours {
  margin-bottom: 130px;
}

.tours h2 {
  display: flex;
  align-items: center;
}

.tours h2 .tours___title-space {
  width: 12px;
}

.tours-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.tours__item {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.tours__cover {
  min-height: 144px;
  background-position-y: 26%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tours__cover_river {
  background-image: url(../../images/content/offers/river.jpg);
}

.tours__cover_pool {
  background-image: url(../../images/content/offers/pool.jpg);
  background-position-y: 27%;
}

.tours__cover_ocean {
  background-image: url(../../images/content/offers/ocean.jpg);
  background-position-y: 51%;
}

.tours__content {
  padding: 30px 22px 26px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
}

.tours__content h3 {
  color: #303030;
  margin-bottom: 20px;
}

.tours__info p {
  color: #666666;
  line-height: 1.36;
  line-height: 1.36;
}

.tours__text p {
  color: #303030;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.tours__info {
  margin-bottom: 25px;
}

.tours__info,
.tours__info-block {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tours__info-block {
  width: 50%;
}

.tours__info-block img {
  height: 26px;
  margin-left: 5px;
  margin-right: 10px;
}

.tours button {
  padding: 18px 30px;
}