.tours {
  margin-bottom: 131px;
}

.tours___title-text {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  margin-right: 22px;
  margin-bottom: 43px;
  margin-left: 1px;
}

.tours-list {
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}

.tours___title-icon {
  width: 21px;
  height: 28px;
  margin-left: -12px;
  margin-bottom: -1px;
  display: inline-block;
}

.tours__item {
  width: 363px;
  min-height: 450px;
  display: flex;
  flex-flow: column wrap;
  margin-right: 25px;
  margin-bottom: -10px;
  border-radius: 5px;
  overflow: hidden;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 144px;
  background-position-y: 26%;
  background-size: cover;
  background-repeat: no-repeat;
}

.tours__cover_river {
  background-image: url(../../images/content/offers/river.jpg);
}

.tours__cover_pool {
  background-image: url(../../images/content/offers/pool.jpg);
  background-position-y: 27%;
}

.tours__cover_ocean {
  background-image: url(../../images/content/offers/ocean.jpg);
  background-position-y: 51%;
}

.tours__content {
  width: 100%;
  min-height: 305px;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 0px 0px 5px 5px;
}

.tours__subtitle {
  color: #000000;
  font-weight: bold;
  font-size: 24px ;
  margin-bottom: 4px;
  padding-left: 23px;
  padding-right: 23px;
  padding-top: 30px;
}

.tours__info-block {
  /* display: inline-block; */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tours__info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tours__info-block-icon_calendar {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  margin-top: 11px;
  margin-left: 28px;
}

.tours__info-block-icon_meal {
  display: inline-block;
  width: 36px;
  height: 26px;
  margin-right: 10px;
  margin-left: 6px;
  margin-top: 10px;
}

.tours__info-block-text {
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-right: 28px;
  margin-left: -4px;
  padding-top: 14px;
  display: inline-block;
}

.tours__text {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #303030;
  width: 324;
  min-height: 63;
  margin-left: 21px;
  margin-bottom: 25px;
  margin-top: 22px;
  line-height: 1.5;
}

.tours__button-wrapper {
  margin-left: 22px;
  margin-top: 29px;
}